table{
    width: 50%;
    line-height: 1.5;
    border solid 3px red;
}
thead{
    background-color: aqua;
    color: azure;
    font-size: 18px;
    font-family: comic sans ms;
    text-align: center;
    border:  2px solid burlywood;
}
td{
    border: 1px;
    font-family: verdana;
    font-size: 15px;
}
